<div>
    <!-- selectable items: available -->
    <div class="row">
        <h5 data-ng-transclude data-translate></h5>
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <input class="form-control"
                            type="search"
                            name="searchAvailable"
                            placeholder="Filter available"
                            data-co-ignored-input
                            data-ng-model="searchAvailable">
                    </h3>
                </div>
                <div class="panel-body" style="height: 150px; overflow: auto; padding: 0px;">
                    <table class="table table-hover">
                        <tbody>
                            <tr data-ng-repeat="selectableValue in selectableValues | filter: { selected: false } | filter: { displayName: searchAvailable } |  orderBy:'displayName' as filteredSelectable track by $index"
                                data-ng-click="addValue()"
                                style="cursor: pointer;">
                                <td>{{ selectableValue.displayName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-xs-2">
            <div class="row text-center"
                style="margin-top: 60px;">
                <button type="button" class="btn btn-primary"
                    style="width: 50px;"
                    ng-click="removeAll()">
                    <i class="fa fa-angle-double-left"></i>
                </button>
            </div>
            <div class="row text-center">
                <button type="button" class="btn btn-primary"
                    style="width: 50px;"
                    ng-click="addAll()">
                    <i class="fa fa-angle-double-right"></i>
                </button>
            </div>
        </div>

        <!-- selectable items: selected -->
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <input class="form-control"
                            type="search"
                            name="searchSelected"
                            placeholder="Filter selected"
                            data-co-ignored-input
                            data-ng-model="searchSelected">
                    </h3>
                </div>
                <div class="panel-body" style="height: 150px; overflow: auto; padding: 0px;">
                    <table class="table table-hover">
                        <tbody>
                            <tr data-ng-repeat="selectedValue in selectableValues | filter: { selected: true } | filter: { displayName: searchSelected } |  orderBy:'displayName' as filteredSelected"
                                data-ng-click="removeValue()"
                                style="cursor: pointer;">
                                <td>{{ selectedValue.displayName }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
